<%- include("partials/header.ejs") %>

<body>
  <div class="bg-dark-subtle">
    <div
      class="container d-flex height justify-content-center align-items-center"
    >
      <div class="card bg-dark text-white text-center col-sm-6">
        <h5 class="card-header fs-4">Secreat</h5>
        <div class="card-body">
          <h5 class="card-title fs-3">গরিবের আবার সিক্রেট 😏</h5>
          <p class="card-text">
            বিশ্বাস করেন রাসেল ভাই আমি নিজেই একটা সিক্রেট ✌️
          </p>
          <a href="/logout" class="btn btn-success">Log out</a>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</body>
